.header {
    background-color: #37b2bb;;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* .header:after {
    content: "";
    display: table;
    clear: both;
} */

#main-input {
    width: 40vw;
}

.todo {
    text-align: center;
    padding: 5px;
}

input {
    background-color: white;
    border: none;
    width: 20vw;
    height: 5vh;
}